@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Amita&display=swap');

/* Add background color to the top navigation */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

nav ul {

    background-color: #46413B;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    font-size: 100%;
    line-height: 30px;
    height: 45px;
    display: inline-block;
    margin-left: 2.5%;
}

nav a {
    text-decoration: none;
    color: #F7F7F5;
    display: block;
}

nav a:hover {
    background-color: #F7F7F5;
    color: #46413B;
}

h1 {
    font-family: 'Amita', sans-serif;
    font-size: 40px;
}

.container {
    position: relative;
    max-width: 100%; 
    margin: 0 auto; 
  }
  
  .container .hero-image {
    position: absolute; 
    bottom: 0;
    background: rgba(70,65,59, 0.5);
    color: #F7F7F5; 
    width: 100%; 
    padding: 20px;
    text-align: center;
  }
